@font-face{
    src:url(../fonts/Silkscreen-Bold.ttf);
    font-family:bold;
}
@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');


.font_a{
    background:#005B6D;
    color:black;
    font-size:25px; 
    text-align:justify;
    margin-left: 20px;
    margin-right: 20px;
    line-height:40px; 
    font-family:bold;
    
}
.font_b{
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    text-align: center;
}
.font_c{
    font-family: 'Rubik Distressed', cursive;
    color: darkblue;
}
.bi-windows{
    color: firebrick;
}
. fa-graduation-cap{
    color: black;
    font-size: 40px;
}